<div class="question__image-holder"><img src="{{ rootPath }}images/{{ imageFilename }}" alt="{{ imageAlt }}" class="question__image" /></div>
<div class="question__details">
	<div class="question__country">{{ name }}</div>
	<div class="question__description">{{ question }}</div>
	<div class="question__option-list">
		{{#each options}}
		<div role="button" tabindex="0" class="question__option">{{ this }}</div>
		{{/each}}
	</div>
	<div class="question__answer"></div>
</div>
<div class="question__next-button">Next</button>

