<div class="thumb__image-holder"><img src="{{ rootPath }}images/{{ imageFilename }}" alt="{{ imageAlt }}" class="thumb__image" /></div>
<div class="thumb__text">{{ name }}</div>
<svg class="thumb__box" viewBox="0 0 100 100" stroke-dashoffset="{{ strokeDashoffset }}"><path d="M100,90 L100,0 L0,0 L0,100 L100,100 L100,90 Z"></path></svg>
<svg class="thumb__box--small" viewBox="0 0 100 75" stroke-dashoffset="{{ strokeDashoffset }}"><path d="M100,65 L100,0 L0,0 L0,75 L100,75 L100,65 Z"></path></svg>
