<div class="thumb__image-holder"><img src="{{ rootPath }}images/{{ imageFilename }}" alt="{{ imageAlt }}" class="thumb__image" /></div>
<div class="thumb__text">{{ name }}</div>
<svg class="thumb__box" viewBox="0 0 50 50" stroke-dashoffset="{{ strokeDashoffset }}"><path d="M50,45 L50,0 L0,0 L0,50 L50,50 L50,45 Z"></path>
</svg>